/* CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* General CSS */

body {
  background-color: #180e23;
  cursor: url(/src/assets/ui/cursor.png), auto;
  height: 100%;
}

.viewport {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.scene {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.6s ease;
}

.layer {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
}

.scene .background { z-index: -99; pointer-events: none;}
.scene .objects { z-index: 0;}
.scene .foreground { z-index: 99; pointer-events: none;}

/* Hover effects */

.clickable:hover {
  cursor: url(/src/assets/ui/cursor-investigate.png), zoom-in;
}

.clickable-object:hover {
  filter: drop-shadow(0 0 5px white);
}

/* Shake */

@keyframes shake {
  0%   { transform: translate(0,0); }
  20%  { transform: translate(0, -1px); }
  40%  { transform: translate(1px, 0); }
  60%  { transform: translate(0, -0.5px); }
  80%  { transform: translate(0.5px, 0); }
  100% { transform: translate(0,0); }
}

.scene.shake {
  animation: shake 0.8s cubic-bezier(0.36, 0.07, 0.19, 0.97);
  animation-iteration-count: infinite;
}
