/* CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

.hotspot.hovered {
  filter: drop-shadow(0 0 6px white);
}


/* Font */

@font-face {
  font-family: "AldotheApache";
  src: url("/src/assets/css/fonts/AldotheApache.ttf") format("truetype");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "SpaceMono";
  src: url("/src/assets/css/fonts/SpaceMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "SpaceMono";
  src: url("/src/assets/css/fonts/SpaceMono-Bold.ttf") format("truetype");
  font-weight: bold;
  font-display: swap;
}

/* All */

body {
	line-height: 1.5;
  font-family: "SpaceMono", sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

strong {
  font-weight: bold;
}

.visible {
  visibility: visible !important;
  opacity: 1 !important;
}

/* General CSS */

body {
  background-color: #180e23;
  cursor: url(/src/assets/imgs/ui/cursor.png), default;
  overflow: hidden;
}

.viewport {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.scene {
  width: 100%;
  height: 100%;
  position: relative;
  transform-origin: center center; /* Default */
  transform: scale(1);
  transition: transform 0.8s ease-out;
}


.layer {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.scene .background { z-index: -1; pointer-events: none;}
.scene .object { z-index: 0;}
.scene .foreground { z-index: 5; pointer-events: none;}
.scene .activateableObject { display: none; z-index: 2; }
#assistant, #main-navigation { z-index: 99;}

.visually-hidden:not(:focus):not(:active) { /* accessible hiding */
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* Buttons */


.activeButton {
  pointer-events: all;
}

.activationButton:focus {
  outline: none;
}

button, .assistantButton {
  cursor: inherit !important;
}


/* AI Assistant */

.assistant {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.assistant button {
  height: 5.5rem;
  width: 5.5rem;
  background: #180e23;
  border-radius: 100%;
  transition: ease .2s;
  border: solid 2px #33c8b3;
}

.assistant button .assistant-icon {
  height: 60%;
  transition: ease .2s;
}

.assistant button:hover .assistant-icon {
  transform: scale(1.1);
}

.assistant button:hover {
  filter: drop-shadow(0 0 25px #33c8b3);
}

.assistant .speechbubble {
  background: #180e23;
  border: solid 2px white;
  color: white;
  padding: 1.25rem 2rem;
  align-items: center;
  position: relative;
  margin: .5rem 0 0 .5rem;
  display: none;
  height: fit-content;
  font-size: 1.3rem;
}

.assistant.activeAssistant button .assistant-icon {
  animation: pulseScale 2s infinite;
}

.assistant.activeAssistant button {
  animation: pulseGlow 2s infinite;
}

.assistant.activeAssistant button:hover {
  filter: unset;
}

/* Pfeil */

.assistant .speechbubble:before,
.assistant .speechbubble:after {
  content: "";
  position: absolute;
  top: 1.05rem;
  width: 0;
  height: 0;
  border-top: 1rem solid transparent;
  border-bottom: 1rem solid transparent;
}

.assistant .speechbubble:before {
  left: -1rem;
  border-right: 1rem solid white; 
}

.assistant .speechbubble:after {
  left: calc(-.95rem + 2px);
  border-right: 1rem solid #180e23; 
}

/* Navigation */

.assistant, .main-navigation {
  margin: 2rem;
  position: absolute;
}

.main-navigation {
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.main-navigation a {
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #180e23;
  border: solid 1.5px white;
}

.main-navigation a:hover {
  box-shadow: 0 0 15px #ffffff9e;
}

.main-navigation a img {
  object-fit: cover;
  margin: 1rem;
}

.main-navigation .home-button img {
  object-fit: cover;
  margin: 1.2rem;
}

/* Popup */

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #180e23;
  color: white;
  padding: 2rem;
  z-index: 2;
  border: solid 1.5px white;
  width: 45%;
  transition: opacity .5s ease;
  opacity: 0;
  visibility: hidden;
  font-size: 1.2rem;
  display: inline-block;
  overflow: hidden;
  transform-origin: center;
  filter: none;
}


/*
.popup button {
  position: absolute;
  right: 0;
  top: 0;
  margin: 1.5rem;
  border: none;
  border-radius: 20rem;
  background: #180e23;
  padding: 0;
} */

.popup button img {
  width: 100%;
  width: 1.5rem;
  height: 1.5rem;
  object-fit: cover;
}

#popup-text strong {
  transition: opacity 0.7s ease;
}

/* Animations */

.popup::before,
.popup::after {
  content: attr(data-text);
  position: absolute;
  inset: 0;
  background: inherit;
  color: inherit;
  pointer-events: none;
  mix-blend-mode: screen;
  opacity: 0;
}

.popup::before { filter: hue-rotate(40deg) brightness(2); }
.popup::after { filter: hue-rotate(-40deg) brightness(2); }

@keyframes shake {
  0%   { transform: translate(0,0); }
  20%  { transform: translate(0, -1.25px); }
  40%  { transform: translate(1.25px, 0); }
  60%  { transform: translate(0, -0.75px); }
  80%  { transform: translate(0.75px, 0); }
  100% { transform: translate(0,0); }
}

.viewport.shake {
  animation: shake 0.8s cubic-bezier(0.36, 0.07, 0.19, 0.97);
  animation-iteration-count: infinite;
}

@keyframes pulseScale {
0% { transform: scale(1);}
50% { transform: scale(1.15);}
100% { transform: scale(1);}
}

@keyframes pulseGlow {
0% { filter: drop-shadow(0 0 10px #33c8b3);}
50% { filter: drop-shadow(0 0 25px #33c8b3);}
100% { filter: drop-shadow(0 0 10px #33c8b3);}
}

/* Kitchen */
.kitchen .activationButton.activeButton:hover .fridge-button-background {
  fill: white;
  transition: ease 0.1s;
}
