/* CSS Reset */

* { box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

.hovered {
  filter: drop-shadow(0 0 6px white);
}

.door.hovered {
  filter: drop-shadow(0 0 20px var(--color-yellow));
}

/* Font */

@font-face {
  font-family: "AldotheApache";
  src: url("/src/assets/css/fonts/AldotheApache.ttf") format("truetype");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "SpaceMono";
  src: url("/src/assets/css/fonts/SpaceMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "SpaceMono";
  src: url("/src/assets/css/fonts/SpaceMono-Bold.ttf") format("truetype");
  font-weight: bold;
  font-display: swap;
}

/* All */

body {
	line-height: 1.5;
  font-family: "SpaceMono", sans-serif;
}

ol, ul {
	list-style: none;
}

li {
	list-style: square;
  margin-left: 2rem;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

strong {
  font-weight: bold;
}

.visible {
  visibility: visible !important; 
  opacity: 1 !important;
}

.invisible {
  opacity: 0 !important;
}

.hidden {
  display: none !important;
  opacity: 0;
}

/* General CSS */

:root {
  --color-none: none;
  --color-black: #180e23;
  --color-black2: #181716;
  --color-white: #fff;
  --color-grey: #606060;
  --color-grey2: #686665;
  --color-grey3: #7c7a79;
  --color-light-brown: #c5a280;
  --color-light-brown2: #dfc09d;
  --color-light-brown3: #efd7b8;
  --color-red: #f25874;
  --color-light-red: #ef7891;
  --color-orange: #d89650;
  --color-yellow: #fff173;
  --color-ice-green: #33c8b3;
  --color-cyan: #00c3ff;
  --color-light-blue: #5a99bf;
  --color-dark-blue: #0a233f;
  --color-dark-blue2: #162b3d;
  --color-pink: #a93bd7;
  --color-dark-pink: #5b243c;
  --color-purple: #826acb;
  --color-dark-purple: #552e93;
  --color-dark-purple2: #320b47;
  --opacity-twenty: .2;
  --opacity-fourty: .4;
  --opacity-thirty: .31;
  --opacity-fifty: .5;
  --opacity-sixtyfive: .65;
  --scene-width: 1366px;
  --scene-offset: 2rem;
}

body {
  background-color: #180e23;
  cursor: url(/src/assets/imgs/ui/cursor.png), default;
  overflow: hidden;
  font-size: 24px;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.viewport {
  width: 100vw;
  height: calc(100vw * 768 / 1366);
  position: relative;
  overflow: hidden;
}

.stage {
  width: 100vw;
  height: calc(100vw * 768 / 1366);
  position: absolute;
  margin: 0 auto;
  pointer-events: none;
}

.stage .assistant { 
  position: absolute; 
  top: var(--scene-offset); 
  left: var(--scene-offset); 
  pointer-events: auto;
}

.stage .main-navigation { 
  position: absolute; 
  right: var(--scene-offset); 
  bottom: var(--scene-offset); 
  pointer-events: auto;
}

.stage .room-name {

  font-size: 1.25rem;
  padding: 1rem;
  position: absolute; 
  left: var(--scene-offset);
  bottom: var(--scene-offset);
  color: white;
  padding-left: 2.75rem;
  filter: drop-shadow(0 0 6px var(--color-black));
}

.stage .room-name:before {
  content:url("/src/assets/imgs/ui/location-icon.svg");
  position: absolute;
  top: 0;
  left: 0;
  height: 1.5rem;
  width: 1rem;
  margin: 1.15rem 1rem 0 1rem;
}

.scene {
  width: 100%;
  height: 100%;
  position: relative;
  transform-origin: center center; /* Default */
  transform: scale(1);
  transition: transform 0.8s ease-out, opacity 3s linear;
}

.scene:after {
  opacity: 0;
  content: "";
  background: var(--color-ice-green);
  height: 6vh;
  left: -6rem;
  bottom: -1vh;
  width: calc(100% + 12rem);
  filter: blur(3rem);
  position: absolute;
  z-index: 10;
  transition: ease .2s;
}

.scene.leaveHovered:after {
  opacity: 100;
}

.layer {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.scene .background { z-index: -1; pointer-events: none;}
.scene .background.one-back { z-index: -2; }
.scene .background.two-back { z-index: -3; }
.scene .object { z-index: 0;}
.scene .foreground { z-index: 4; pointer-events: none;} /* tbd schrank Küche */
.scene .activateableObject { z-index: 2; }
#assistant, #main-navigation, .room-name { z-index: 99;}
.start, .credits, .settings { z-index: 149; } /* tbd */

/* Buttons */

.activeButton {
  pointer-events: all;
}

.button:focus {
  outline: none;
}

/* AI Assistant */

.assistant {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  align-items: flex-start;
}

.assistant button {
  flex: 0 0 auto;
  height: 6.5rem;
  width: 6.5rem !important;
  background: #180e23;
  border-radius: 100%;
  align-self: flex-start;
  transition: ease .2s;
  border: solid 2px #33c8b3;
  cursor: inherit !important;
}

.assistant button:hover {
  filter: drop-shadow(0 0 25px #33c8b3);
}

.assistant button .assistant-icon {
  height: 60%;
  transition: ease .2s;
}

.assistant button:hover .assistant-icon {
  transform: scale(1.1);
}

.assistant .speechbubble {
  background: #180e23;
  border: solid 2px white;
  color: white;
  padding: 1.25rem 2rem;
  align-items: center;
  position: relative;
  margin: 1rem var(--scene-offset) 0 0;
  height: fit-content;
  max-width: min(80vw, 50rem); 
  width: auto;
  white-space: normal;
  overflow-wrap: break-word;
  word-break: break-word;
  box-sizing: border-box;
  display: inline-block;
}

.assistant .speechbubble.multipleStrings p.clickNextMessage:after {
  content: url(/src/assets/imgs/ui/down-icon.svg);
  animation: jumpInfinite 1.5s infinite;
  position: absolute;
  width: .75rem;
  height: .75rem;
  margin-left: 1rem;
  padding-right: 1.5rem;
  bottom: 2.25rem;
}

.assistant.activeAssistant button .assistant-icon {
  animation: pulseScale 2s infinite;
}

.assistant.activeAssistant button {
  animation: pulseGlow 2s infinite;
}

.assistant.activeAssistant button:hover {
  filter: unset;
}

.assistant .speechbubble:before,
.assistant .speechbubble:after {
  content: "";
  position: absolute;
  top: 1.05rem;
  width: 0;
  height: 0;
  border-top: 1rem solid transparent;
  border-bottom: 1rem solid transparent;
}

.assistant .speechbubble:before {
  left: -1rem;
  border-right: 1rem solid white; 
}

.assistant .speechbubble:after {
  left: calc(-.95rem + 2px);
  border-right: 1rem solid #180e23; 
}

/* Navigation */

.main-navigation {
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.main-navigation a {
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #180e23;
  border: solid 1.5px white;
}

.main-navigation a:hover {
  box-shadow: 0 0 15px #ffffff9e;
}

.main-navigation a img {
  object-fit: cover;
  margin: 1rem;
}

.main-navigation .home-button img {
  object-fit: cover;
  margin: 1.2rem;
}

/* Popup */

body .popup {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #180e23;
  color: white;
  padding: 2rem;
  z-index: 2;
  border: solid 1.5px white;
  width: 40em;
  transition: opacity .5s ease;
  opacity: 0;
  visibility: hidden;
  display: inline-block;
  overflow: hidden;
  transform-origin: center;
  filter: none;
}

body .popup-text {
  list-style: square;
}

.popup button img {
  width: 100%;
  width: 1.5rem;
  height: 1.5rem;
  object-fit: cover;
}

#popup-text strong {
  transition: opacity 0.7s ease;
}

/* Animations */

.popup::before,
.popup::after {
  content: attr(data-text);
  position: absolute;
  inset: 0;
  background: inherit;
  color: inherit;
  pointer-events: none;
  mix-blend-mode: screen;
  opacity: 0;
}

.popup::before { filter: hue-rotate(40deg) brightness(2); }
.popup::after { filter: hue-rotate(-40deg) brightness(2); }

@keyframes shake {
  0%   { transform: translate(0,0); }
  20%  { transform: translate(0, -1.5px); }
  40%  { transform: translate(1.5px, 0); }
  60%  { transform: translate(0, -1px); }
  80%  { transform: translate(1px, 0); }
  100% { transform: translate(0,0); }
}

.slow-fading {
  transition: opacity 4s ease-in;
}

.fast-fading {
  transition: opacity 2s ease;
}

.scene.shake {
  animation: shake 0.8s cubic-bezier(0.36, 0.07, 0.19, 0.97);
  animation-iteration-count: infinite;
}

@keyframes pulseScale {
0% { transform: scale(1);}
50% { transform: scale(1.15);}
100% { transform: scale(1);}
}

@keyframes pulseGlow {
0% { filter: drop-shadow(0 0 10px #33c8b3);}
50% { filter: drop-shadow(0 0 25px #33c8b3);}
100% { filter: drop-shadow(0 0 10px #33c8b3);}
}

@keyframes jumpInfinite {
  0% { bottom: 2.25rem; }
  50% { bottom: 1.75rem; } 
  100% { bottom: 2.25rem; }
}

@keyframes moveHouse {
  0% { transform: translateY(1rem); }
  50% { transform: translateY(3rem); } 
  100% { transform: translateY(1rem); }
}

@keyframes gradient {
	0% {
		background-position: 0% 0%;
	}
	50% {
		background-position: 100% 100%;
	}
	100% {
		background-position: 0% 0%;
	}
}


/* Start Screen */

.start {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  /* background: linear-gradient(to bottom, #826acb, #f25874); */
  color: white;
  position: relative;
  justify-content: space-between;  
  width: 100%;
  height: 100%;
  position: relative;
	background: linear-gradient(0deg, var(--color-purple), var(--color-red), var(--color-orange), var(--color-pink), var(--color-red));
	background-size: 500% 500%;
	animation: gradient 25s ease infinite;
}

.start .start-building {
  object-fit: cover;
  height: 85%;
  animation: moveHouse 6s infinite;
}

.start h1 {
  font-family: "AldotheApache";
  font-size: 12rem;
  color: var(--color-black)
}

.start-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
  justify-content: center;
}

.start-buttons {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 2rem;
}

.start-button {
  width: 30rem;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #180e23;
  border: solid 1.5px white;
  padding: .75rem;
}

.start-button:hover {
  filter: drop-shadow(0 0 6px white);
}


/* Elevator */
.elevator .elevator-doors .elevator-door {
  z-index: -10 !important;
  transform-box: fill-box; 
}

.elevator .elevator-doors .left-door {
  transform-origin: left center;
  transition: 5s cubic-bezier(.2,.9,.3,1);
}

.elevator .elevator-doors .right-door {
  transform-origin: right center;
  transition: 5s cubic-bezier(.2,.9,.3,1);
}

.elevator .elevator-doors.doorsOpen .left-door {
  transform: translateX(-100%);
}

.elevator .elevator-doors.doorsOpen .right-door {
  transform: translateX(100%);
}

.controlsButton.activeButton:hover {
  filter: drop-shadow(0 0 2px #00cbb2);
}

.controlsButton.activeButton .clicked {
  fill: #612445;
  transition: .2s ease;
}

.controlsButton.activeButton .unclicked {
  transition: .5s ease;
}

.controlsButton.activeButton.rightButton .clicked {
  fill: #248477;
}

.elevator #floorCounter {
  font-size: 3.5rem;
  font-family: "AldotheApache";
  fill: #fff173;
}

.elevator #height-display .top-arrow {
  opacity: 0.4;
  transition: 1s ease-in;
}

.elevator #height-display.active .top-arrow {
  opacity: 1;
  filter: drop-shadow(0 0 6px #fff173);
}

.elevator #height-display .bottom-arrow {
  opacity: 0.4;
}

/* Kitchen */
.kitchen .activationButton.activeButton:hover .fridge-button-background {
  opacity: var(--opacity-fifty);
  transition: ease 0.1s;
}

/* Media queries */

@media (max-width: 1500px) {
  body {
    font-size: 20px;
  }

  body .popup {
    width: 50%;
  }

  .start-buttons {
    gap: 0.75rem;
  }

  .start h1 {
    font-size: 5rem;
  }

  .start .button {
    font-size: 1.25rem;
    width: 20rem;
  }

}

@media (min-aspect-ratio: 5464/3072) { /* tbd: wenn Rand nur minimal ist auf 100% einpassen */
  .viewport {
    width: calc(100vh * 1366 / 768);
    height: 100vh;
  }

  .stage {
    width: calc(100vh * 1366 / 768);
    height: 100vh;
    position: absolute;
    margin: 0 auto;
    pointer-events: none;
  }
}

/* 
Breakpoint	Class	Dimensions
X-Small	None	< 576px
Small	sm	≥ 576px
Medium	md	≥ 768px
Large	lg	≥ 992px
Extra large	xl	≥ 1200px
Extra extra large	xxl	≥ 1400px 
*/
