/* CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

button:hover, a:hover {
  cursor: url(/src/assets/ui/cursor-click.png), auto;
}

/* Font */

@font-face {
  font-family: "AldotheApache";
  src: url("/src/assets/css/fonts/AldotheApache.ttf") format("truetype");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "SpaceMono";
  src: url("/src/assets/css/fonts/SpaceMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "SpaceMono";
  src: url("/src/assets/css/fonts/SpaceMono-Bold.ttf") format("truetype");
  font-weight: bold;
  font-display: swap;
}

/* All */

body {
	line-height: 1.5;
  font-family: "SpaceMono", sans-serif;
  font-size: 18px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

strong {
  font-weight: bold;
}

/* General CSS */

body {
  background-color: #180e23;
  cursor: url(/src/assets/ui/cursor.png), auto;
  height: 100%;
  overflow: hidden;
}

.viewport {
  width: 100vw;
  height: 100vh;
}

.scene {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.6s ease;
}

.layer {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
}

.scene .background { z-index: -1; pointer-events: none;}
.scene .objects { z-index: 0;}
.scene .foreground { z-index: 1; pointer-events: none;}

.visually-hidden:not(:focus):not(:active) { /* accessible hiding */
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* Popup */

.popup {
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translateX(-50%);
  background: #180e23;
  color: white;
  padding: 2rem;
  z-index: 2;
  border: solid 2px #33c8b3;
  min-width: 30rem;
  max-width: 70vw;
  transition: opacity .5s ease;
  opacity: 0;
  visibility: hidden;
}

.popup.visible {
  visibility: visible;
  opacity: 1;
}

.popup button {
  position: absolute;
  right: 0;
  top: 0;
  width: 1.5rem;
  height: 1.5rem;
  margin: 1rem;
  border: none;
  border-radius: 20rem;
  background: #180e23;
  color: white;
  background-image: url("/src/assets/ui/close.svg");
  background-position: center;
  background-size: cover;
}

#popup-text strong {
  transition: opacity 0.7s ease;
}

/* Shake */

@keyframes shake {
  0%   { transform: translate(0,0); }
  20%  { transform: translate(0, -1.25px); }
  40%  { transform: translate(1.25px, 0); }
  60%  { transform: translate(0, -0.75px); }
  80%  { transform: translate(0.75px, 0); }
  100% { transform: translate(0,0); }
}

.viewport.shake {
  animation: shake 0.8s cubic-bezier(0.36, 0.07, 0.19, 0.97);
  animation-iteration-count: infinite;
}
